.btn--white {
  @include button($color-gray-4, $fs-0, $color-white-0, $pd-1 +1, $pd-1+2, $color-gray-4, $color-black-0, $color-white-0, $color-black-0);
}

.btn--purple {
  @include button($color-white-0, $fs-0, $color-purple, $pd-1 +1, $pd-1+2, $color-purple, $color-white-0, $color-red-1, $color-red-1);
}

.btn-slider {
  position: absolute;
  width: 47px;
  height: 47px;
  top: 39%;
  background-color: #fff;
  border-radius: 50%;
  border-width: 0;
  box-shadow: 0 0 1px 1px rgba(20, 23, 28, .1), 0 3px 1px 0 rgba(20, 23, 28, .1);
  color: $color-blue;
  font-size: $fs-3;
  line-height: 1;
  padding: 11px 0;
  text-align: center;
  transform: translateY(-50%);
  transition: 300ms;
  z-index: 3;
  &.slick-disabled {
    display: none!important;
  }
}

.btn-slider:hover {
  box-shadow: 0 2px 8px 2px rgba(20, 23, 28, .15);
  color: #00576b;
}

.btn-left {
  left: -23px;
}

.btn-right {
  right: -10px;
}