.testimonials {
  background: $color-white-cream;
  padding: 32px 0;
  .testimonials__content {
    margin-top: 10px;
  }
  &__info {
    display: flex;
    align-items: center;
    margin-bottom: 18px;
    .testimonials__avt {
      img {
        border-radius: 50%;
        margin-right: 18px;
      }
    }
  }
  &__name {
    font-weight: $fw-bold-0;
  }
  .btn-slider {
    top: 50%;
  }
  .owl-dots {
    margin-top: 5px;
    text-align: center;
    button {
      margin: 0 5px;
      outline: none;
      span {
        background: #dedfe0;
        width: 10px;
        height: 10px;
        display: block;
        border-radius: 50%;
      }
      &.active {
        span {
          background: $color-gray-4;
        }
      }
    }
  }
}

.testimonials__items-content {
  margin-right: 13px;
  border-radius: 3px;
  box-shadow: 0 1px 3px 0 rgba(20, 23, 28, .15);
  height: 100%;
  min-height: 260px;
  padding: 32px;
  background: $color-white-0;
  @include mediaMoblie(767px) {
    margin-right: 0;
  }
}

.partners {
  margin-top: 50px;
  padding-bottom: 24px;
  text-align: center;
  &__text {
    font-size: $fs-1;
    color: $color-gray-4;
  }
  &__logos {
    display: flex;
    padding-top: 32px;
  }
  &__logos-container {
    display: flex;
    justify-content: center;
    width: 100%;
  }
  .logo-item {
    margin: 0 30px 8px;
  }
  @include mediaMoblie(767px) {
    &__logos {
      flex-wrap: wrap;
      justify-content: center;
    }
    .logo-item {
      margin: 0 16px 8px;
    }
  }
}

.non-student-cta__content {
  text-align: center;
  padding: 28px 30px;
}

.non-student-cta {
  &__title {
    font-size: 19px;
    font-weight: $fw-bold-0;
    line-height: 1.47em;
    color: $color-black-light;
    margin-bottom: 5px;
  }
  &__text {
    max-width: 320px;
    margin: 0 auto;
  }
  &__link {
    margin-top: 20px;
  }
  &__block {
    &:first-child {
      border-right: 1px solid #dedfe0;
    }
  }
  @include mediaMoblie(767px) {
    padding: 0 15px;
    &__block {
      &:first-child {
        border-right: 0;
        border-bottom: 1px solid #dedfe0;
      }
    }
  }
}