.testimonials {
  background: $color-white-cream;
  padding: 32px 0;
  .testimonials__content {
    margin-top: 10px;
  }
  &__info {
    display: flex;
    align-items: center;
    margin-bottom: 18px;
    .testimonials__avt img {
      border-radius: 50%;
      margin-right: 18px;
    }
  }
  &__name {
    font-weight: $fw-bold-0;
  }
  .btn-slider {
    top: 50%;
  }
}

.testimonials__items-content {
  margin-right: 13px;
  border-radius: 3px;
  box-shadow: 0 1px 3px 0 rgba(20, 23, 28, .15);
  height: 100%;
  min-height: 260px;
  padding: 32px;
  background: $color-white-0;
}

.partners {
  margin-top: 50px;
  padding-bottom: 24px;
  text-align: center;
  &__text {
    font-size: $fs-1;
    color: $color-gray-4;
  }
  &__logos {
    display: flex;
    padding-top: 32px;
  }
  &__logos-container {
    display: flex;
    justify-content: center;
    width: 100%;
  }
  .logo-item {
    margin: 0 30px 8px;
  }
}

.non-student-cta__content {
  text-align: center;
}